<manifest
    package="com.example.crnetwork"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <meta-data
            android:name="com.dianrong.crnetwork.GlideMod"
            android:value="GlideModule" />
    </application>

</manifest>
